@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
html{
    scroll-behavior: smooth;
    padding-bottom: 5%;
}

body {
    font-family: 'Cabin';
    background-color: #e0e1dd;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #aed9e0;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    justify-content: space-between;
}

.games-nav{
    text-decoration: none;
    color: inherit;
    flex-shrink: 0;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-container:hover{
    cursor: pointer;
    box-shadow: 0 0 30px #a8dadc;
}

.stats-card {
    background-color: #aed9e0;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 40px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    min-height:300px;
    text-align: center;
    border-radius: 7px;
    position: relative;
    transition: transform 0.1s ease-in-out;
}

.game-card #game-description{
    display: none;
}

.game-card:hover{
    margin-bottom: -100px;
    & #game-description{
        display:block;
    }
}

.game-card:hover {
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 0 10px #a8dadc;
    transform: scale(1.025);
}

#game-filters{
    display: flex;
    flex-direction: column;
}

#button-container {         
    text-align: center;
    display:flex;
    justify-content: space-around;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    flex-grow: 1;
    background-color: #aed9e0;
}

button:hover{
    cursor: pointer;
    background-color: #a8dadc;
    transform: scale(1.01);
    transition: all 0.1s ease-in-out;
}

#search-bar{
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    flex-grow: 1;
    border-radius: 7px;
    transition: transform 0.1s ease-in-out;
}

#search-bar:focus{
    outline: none;
    box-shadow: 0 0 5px 1px #a8dadc; 
    transform: scale(1.005);
}
